*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-amarillo: #f9af01;
    --color-azul-opaco: #05172b;
    --color-azul-claro: #001978;
    --color-azul-main: #F4F4F9;
    --color-texto-principal: #333333;
    --color-botones: #E63946;
    --color-botones-hover: #b82632;
}

/*-------------------------------------------------------------------------------------------------- 
                                        HEADER                      
--------------------------------------------------------------------------------------------------*/
header{
    background-color: var(--color-azul-opaco);
    display: flex;
    justify-content: space-between;
    height: 9rem;
    position: sticky;
    top: 0;
    width: 100%;
}

header a{
    margin: 1rem 0 0 4rem;
}

header h1{
    display: none;
}

header img{
    width: 9rem;
}

header nav{
    align-self: center;
}

header nav ul{
    list-style: none;
    display: flex;
    margin-right: 6rem;
}

header nav ul li{
    font-size: 3rem;
    margin: 0 2rem;
    
}

header nav ul li a{
    text-decoration: none;
    color: white;
    cursor: default;
}

header nav ul li a:hover{
    color: var(--color-amarillo);
    text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------------- 
                                        BODY                      
--------------------------------------------------------------------------------------------------*/

main{
    background-color: var(--color-azul-main);
    font-size: xx-large;
}

/*-------------------------------------------------------------------------------------------------- 
                                        FOOTER                      
--------------------------------------------------------------------------------------------------*/
footer{
    background-color: #05172b;
}